{
    // Airbnb en https://github.com/airbnb/javascript
    // Airbnb ko https://github.com/tipjs/javascript-style-guide
    // Naver https://oss.navercorp.com/engineering/coding-convention
    // Naver http://docs.navercorp.com/coding-convention/js.html
    "extends": "naver",
    "parser": "babel-eslint",
    "rules": {
        "comma-dangle": "off",
        "import/prefer-default-export": "off",
        "linebreak-style": 0
    }
}
