{
    // Airbnb en https://github.com/airbnb/javascript
    // Airbnb ko https://github.com/tipjs/javascript-style-guide
    // Naver https://oss.navercorp.com/engineering/coding-convention
    // Naver http://docs.navercorp.com/coding-convention/js.html
    "extends": "naver",
    "parser": "babel-eslint",
    "rules": {
        "comma-dangle": "off",
        "import/prefer-default-export": "off",
        "linebreak-style": 0,
        "array-element-newline": "off",
        "class-methods-use-this": "off",
        "no-unused-expressions": 0,
        "newline-per-chained-call": "off"
    },
    "plugins": [
        "chai-friendly"
    ],
    "env": {
        "mocha": true
    },
    "globals": {
        "Simulator": false
    }
}
