language: node_js
node_js:
  - "6.9.1"
dist: trusty
sudo: false
before_install:
  - sudo apt-get update
  - sudo apt-get install libosmesa6
  - sudo ln -s /usr/lib/x86_64-linux-gnu/libOSMesa.so.6 /opt/google/chrome/libosmesa.so
install:
  - npm install
addons:
  chrome: stable
cache:
  directories:
    - "node_modules"
before_script:
  - npm run lint
script:
  - npm run coverage:nogl
after_success:
  - npm run coveralls