@import url(https://fonts.googleapis.com/css?family=Open+Sans|Zilla+Slab:700);
body {
  text-align: center;
  margin: 10px;
  font-family: sans-serif;
  color: #333;
}

header {
  padding: 10px;
}

header h1 {
  font-family: 'Zilla Slab', serif;
  font-weight: bold;
  margin: 45px 0 30px;
  text-align: center;
  font-size: 60px;
  word-break: break-word;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
  letter-spacing: -0.8px;
  color: #333;
  font-weight: bold;
  line-height: 1.1;
}

a {
  color: #333;
}

.icon {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

.viewer {
  position: relative;
  width: 100%;
  /* height: 400px; */
  max-width: 800px;
  margin: 0px auto;
  overflow: hidden;
  outline: none;
}

.fullscreen-container .viewer {
  max-width: none;
  height: 100%;
}

.viewer:after {
  position: relative;
  display: block;
  content: "";
  padding-top: 60%;
  width: 100%;
  z-index: -1;
}

.viewer .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.viewer canvas {
  width: 100%;
  height: 100%;
}

.viewer video {
  position: absolute;
  visibility: hidden;
}

.infos {
  display: inline-block;
  max-width: 600px;
  text-align: left;
}

p.info .head {
  display: inline-block;
  padding-bottom: 5px;
  font-weight: bold;
}

p.info .value {
  vertical-align: middle;
  font-weight: 300;
  background: #eee;
  padding: 0px 6px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
}

.button.light {
  border: 1px solid #ddd;
  margin: 5px;
  padding: 10px;
  border-radius: 0;
  font-size: 14px;
}

p.info img {
  width: 100px;
  vertical-align: top;
}

.source {
  position: relative;
  margin: 10px auto;
  width: 100%;
  max-width: 800px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  box-sizing: border-box;
  padding: 10px;
}

.source pre {
  font-size: 13px;
  text-align: left;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  ;
  word-break: break-all;
  white-space: pre-wrap;
}

.source span, .source a {
  font-size: 13px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-weight: 300;
  background: #eee;
  padding: 0px 6px;
  font-weight: bold;
  text-decoration: underline;
}

.source pre .comment {
  color: #6a6;
}

.qrcode {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  background: #333;
}
.qrcode:before {
  position: absolute;
  content: "";
  background: url(../img/qrcode.png) no-repeat;
  background-size: 100% 100%;
  width: 22px;
  height: 22px;
  margin: 9px;
  top: 0;
  left: 0;
}
.qrviewer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.qrviewer img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  min-width: 300px;
  margin: auto; 
  z-index: 10;
}

.play-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.2);
}
.play-container .play {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  background: url(../img/play.svg) no-repeat;
  border: 0;
  background-size: 100% 100%;
}

  header .home {
    margin: 0;
    font-size: 26px;
    background-repeat: no-repeat;
    width: 198px;
    height: 27px;
    position: absolute;
    text-align: left;
  }
  
  .home img.egjs_logo{
    width: 34px;
    display: block;
    margin-bottom: -8px;
  }

  .home a {
    font-family: 'Zilla Slab', serif;
    line-height: 40px;
    letter-spacing: -0.8px;
    text-decoration: none;
    display: inline-block;
    color: #2B2B2B;
  }