<!DOCTYPE html>
<html lang="en">
{% include subcomponent_head.html %}
{% for css in site.data.egjs.css %}
	<link rel="stylesheet" href="{{ css }}">
{% endfor %}
{% for dist in site.data.egjs.dist %}
	<script src="{{ dist }}"></script>
{% endfor %}
<script>
	var homeUrl = window.location.href;
	if (homeUrl.indexOf("#") !== -1) {
		homeUrl = homeUrl.substr(0, homeUrl.indexOf("#"));
	}
	homeUrl = homeUrl
		.replace("/index.html", "/")
		.replace("/gallery.html", "/");
	if (homeUrl[homeUrl.length-1] !== "/") {
		homeUrl += "/";
	};
	window.HOMELINK = homeUrl;
	window.LIBLINK = [];
	{% for dist in site.data.egjs.dist %}
	window.LIBLINK.push(window.HOMELINK + "{{ dist }}");
	{% endfor %}
</script>
<body>

{% for subComponent in site.data.egjs.subComponents %}
{% if subComponent.name == page.subComponentName %}
	{% assign subComponent = subComponent %}
{% endif %}
{% endfor %}

{% include subcomponent_header.html %}
<section id="promo" class="promo section">
		<div class="container">
			<div class="hero-image" style="background-image: url(./common/img/{{ subComponent.name }}.png)">
			</div>
			<h2 class="title">	
				<span class="highlight">{{ subComponent.name }}</span>
			</h2>
			<p class="intro">{{ subComponent.desc }}<br/>
				<span class="hashtag">		
					{% for hashtag in subComponent.hashtags %}
					#{{ hashtag }} 
					{% endfor %}
				</span>
			</p>
		</div>
	</section>
<div>
	{% include nav.html %}
	<section id="home" class="tab docs section" data-tab="home" id="home">
			<ul class="list">
			</ul>
	</section>
	<section id="projections" class="tab docs section" data-tab="projections">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title">Projection Types</h2>
				<p>PanoViewer offers five projection types. You can see video with the projection.</p>
			</div>
		</div>
	</section>
	<section id="list" class="tab docs section" data-tab="projections">
		<div class="list">
			<ul class="container">
				{% for projection in subComponent.projections %}
				<li class="item">
					<a href="#{{projection.id}}">
						<p>{{projection.name}}</p>
					</a>
				</li>
				{% endfor %}			
			</ul>
		</div>
	</section>
	{% for projection in subComponent.projections %}
	<section id="{{projection.id}}" class="tab projection docs section" data-tab="projections">
		<div class="container">
				<div class="docs-inner">
					<h3 class="title">{{projection.name}}</h3>
					<img src="./common/img/{{projection.image}}" class="image" alt="{{projection.name}}'s image"/>
					<p class="description">{{projection.description}}</p>
					<ul class="demos">
						{% for demo in projection.demos %}
						<li>
							<a href="{{demo.link}}" target="_blank">
								<p class="image-area"><img src="./common/img/{{demo.image}}" alt="{{demo.name}}'s image"/></p>
								<p>{{demo.name}}</p>
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
	</section>
	{% endfor %}
	<section id="features" class="docs section tab" data-tab="features">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title text-center">Features</h2>
				{% capture started %}{% include_relative {{ page.features }} %}{% endcapture %}
				{{ started | markdownify }}
			</div>
		</div>
	</section>
	<section id="started" class="docs section tab" data-tab="started">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title text-center">Getting Started</h2>
				{% capture started %}{% include_relative {{ page.started }} %}{% endcapture %}
				{{ started | markdownify }}
			</div>
		</div>
	</section>
	{% if subComponent.projects %}
	{% assign projects = subComponent.projects %}
	<section id="projects" class="docs section">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title text-center">Projects</h2>
				<ul class="link_list">
				{% for project in projects %}
				<li class="link_item">
					<a href="{{ project.url }}" target="_blank" class="td_a">
						<div class="link_item_image">
							<img src="{{ project.image }}" width="108" height="108">
						</div>
						<div class="link_item_title">
							<span class="">{{ project.name }}</span>
						</div>
					</a>
				</li>
				{% endfor %}
				</ul>
				<p><br/>Don't see your project? Post an <strong><a target="_blank" href="https://github.com/{{ site.data.egjs.github.user }}/{{ site.data.egjs.github.repo }}/issues/new"/>issue</a></strong> with <i>built-with-view360</i> label  over on the <strong><a href="https://github.com/{{ site.data.egjs.github.user }}/{{ site.data.egjs.github.repo }}/"/>github page</a></strong>.					
			</div>	
			</p>		
		</div>
	</section>
	{% endif %}

</div>
{% include subcomponent_footer.html %}
{% for js in site.data.egjs.js %}
	<script src="{{ js }}"></script>
{% endfor %}
<script>
		var list = [];
		{% for projection in subComponent.projections %}
		{% for demo in projection.demos %}
		list.push({sort: parseInt("{{demo.sort}}" || "0") || 999999, html: '<li>' + 
			'<a href="{{demo.link}}" target="_blank">' +
				'<p class="image-area">' + 
					'<img src="./common/img/{{demo.image}}" class="image" alt="{{demo.name}}\'s image"/>' + 
				'</p>' +
				'<p class="title">{{demo.name}}</p>' + 
				'<p class="description">{{demo.description}}</p>' +
			'</a>' + 
		'</li>'});
		{% endfor %}
		{% endfor %}

		list.sort(function (a, b) {
			return a.sort < b.sort ? -1 : 1;
		});

		document.querySelector("#home .list").innerHTML = list.map(function (li) { return li.html; }).join("");
</script>
</body>
</html>