body {
  text-align: center;
}
header {
  padding: 10px;
}
header h1 {
  text-align: center;
  font-size: 60px;
}
a {
  color: #333;
}
.icon {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px auto;
}


.viewer {
  position: relative;
  width: 100%;
  /* height: 400px; */
  max-width: 800px;
  margin: 0px auto;
  overflow: hidden;
}
.fullscreen-container .viewer {
  max-width: none;
  height: 100%;
}

.viewer:before {
  position: relative;
  display: block;
  content: "";
  padding-top: 60%;
  width: 100%;
}

.viewer .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.infos {
  display: inline-block;
  max-width: 600px;
  text-align: left;
}
p.info {
  /* white-space: nowrap; */
}

p.info .head {
  display: inline-block;
  padding-bottom: 5px;
  font-weight: bold;
}

p.info .value {
  vertical-align: middle;
  font-weight: 300;
  background: #eee;
  padding: 0px 6px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
}