body {
    padding: 15px;
}

header {
    padding: 0;
    text-align: left;
}

header h1 {
    font-size: 42px;
}

.button {
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0,0,0,.8);
    border: 1px solid #999;
    border: transparent;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.panoviewer-container {
    position: relative;
    width: 100%;
    max-width: 692px;
    height: 391px;
}

.panoviewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    outline: none;
    background-color:#bcbec0;
}