.source {
  position: relative;
  margin: 10px auto;
  width: 100%;
  max-width: 800px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  padding: 10px;
}
.source pre {
  font-size: 13px;
  text-align: left;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;;
  word-break: break-all;
  white-space: pre-wrap;
}
.source .emphasis {
  font-size: 13px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-weight: 300;
  background: #eee;
  padding: 0px 6px;
  font-weight: bold;
  text-decoration: underline;
}
.source pre .comment {
  color: #6a6;
}