.fullscreen-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
}
.enterfs {
  display: block !important;
}
.fullscreen-container .enterfs {
	display: none !important;
}
.exitfs {
	display: none !important;
}
.fullscreen-container .exitfs {
	display: block !important;
}
.entervr {
  display: block !important;
}

.panoviewer-control button {
  background-color: rgba(0,0,0,.6);
  color: white;
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 5px;
  outline: none;
  font-size: 0px;
  margin-bottom: 5px;
}
.panoviewer-control button.enterfs,
.panoviewer-control button.exitfs {
  margin-bottom: 10px;
}
.panoviewer-control button svg {
  width: 30px;
  height: 30px;
}

.panoviewer-control {
  text-align: center;
  position: absolute;
  font-weight: 300;
  top: 0px;
  right: 5px;
  z-index: 1;
}
.panoviewer-control .camera {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,.6);
    border-radius: 100px;
}
.panoviewer-control .pie,.camera {
    height: 40px;
    width: 40px;
}

.image360_loading,
.image360_loading:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto
}

.image360_loading {
  display: none;
  width: 92px;
  height: 92px;
  z-index: 1;
}

.image360_loading .image360_loadingBar {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  width: 32px;
  height: 8px;
  margin: auto;
  background-image: url(../img/common_loading_mo_white.gif);
  background-repeat: no-repeat;
  background-size: 32px 8px
}

.image360_loading:before {
  background-image: url(../img/sp_component.png);
  background-repeat: no-repeat;
  -webkit-background-size: 391px 349px;
  background-size: 391px 349px;
  display: inline-block;
  width: 92px;
  height: 92px;
  background-position: 0 -85px
}

.image360_loading.is-loading {
  display: block;
}


/**
 *
 */
 .gyroTouchOptions {
  position: absolute;
  right: 0px;
  bottom: 0px;
  text-align: right;
}

.optionSet {
  /* position: absolute;
  bottom:0px;
  right: 0px; */
}

.optionSet .option {
  border: 1px;
  border-radius: 3px;
  background-color: rgb(188, 188, 207);
  color: white;
  padding: 2px;
  height: 34px;
  box-sizing: border-box;
  font-size: 0;
  margin: 5px 0px;
  display: inline-block;
  vertical-align: middle;
}

.optionSet .option:hover {
  background-color: rgb(73, 73, 201);
}

.optionSet .option.selected {
  background-color: rgb(175, 64, 226);
}

.selectGroup {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.selectGroup .option {
  position: relative;
  border-radius: 5px;
  font-size: 14px;
  line-height: 34px;
  padding: 0px 10px;
  min-width: 34px;
  text-align: center;
}

.statusButton.option {
  position: relative;
  background-color:#7fbeff;
  margin: 5px;
}
.selectGroup .option span {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: url(../img/arrow.svg) no-repeat;
  background-size: 100% 100%;
}
.selectGroup .option span.vertical {
  transform: rotate(90deg);
}
.statusButton.option svg {
  width: 40px;
  fill: #fff;
  stroke: #fff;
}

.statusButton.option:hover{
  background-color: #7f1e1f;
}

.selectGroup.hide {
  display: none;
}


@media screen and (max-width: 500px) {
  .panoviewer-control {
    right: 0px;
    top: 0px;
  }
  .panoviewer-control button {
    margin: 5px 5px 5px 0px;
    padding: 5px;
    float:right;
  }
  .panoviewer-control button svg {
    width: 20px;
    height: 20px;
  }
  .panoviewer-control .camera {
    transform: scale(0.7);
  }
}
