@font-face{ 
	font-family: 'NanumSquareR';
	src: url('../font/NanumSquareR.eot');
	src: url('../font/NanumSquareR.eot?#iefix') format('embedded-opentype'),
	     url('../font/NanumSquareR.woff') format('woff'),
	     url('../font/NanumSquareR.ttf') format('truetype'),
	     url('../font/NanumSquareR.svg#webfont') format('svg');
}

* {
	font-family: 'NanumSquareR';
	font-weight: 300;
}

body, html {
	margin: 0;
	padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;	
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


header {
	background-color: #00C73C;
	height: 60px;
}

header > div {
	color: white;
	font-size: 24px;
    line-height: 60px;
    margin-left: 15px;
}
.container > h2 {
	font-size: 30px;
	color: #26304d;
	padding: 0;
	margin: 30px 0 15px;
	font-weight: 300;
	letter-spacing: -1px;
	word-wrap: break-word;
}
.container li {
color: rgb(86, 96, 122);
font-family: 나눔바른고딕, NanumBarunGothic, nanumgothic, 나눔고딕, NanumGothic, 'Malgun Gothic', 돋움, dotum, Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
height: 20px;
line-height: 20px;
list-style-type: disc;
}
.container ul {
    white-space: pre-line;
}

.pure-button {
	margin-bottom: 5px;
}



.preview-icon {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
}

.preview-icon.spin {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@keyframes spin { 100% { transform:rotateY(360deg) }}

.photo360 {
	position: relative;
	margin-top: 10px;
	width: 100%;
	height: 540px;
	overflow: hidden;
}

@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px)
{ 
	.photo360 {
	    width: 100vw;
	    height: 100vw;
		margin-left: -15px;
	}
}


.preview-img {
	width: 100%;
}

.photo360-preview {
	width: 100%;
	height: 100%;
	1background-image: url(../img/street_preview.jpg);
	background-size: cover;
	background-position: center center;
}

.photo360-preview .preview-img {
	width: 100%;
	height: 100%;	
}

.photo360-preview.hide,
.photo360-control-layer.hide {
	display: none;
}

.photo360-control-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	z-index: 100
}

.vr-360-image-photoSphereRenderer-canvas {
	z-index: 10
}

.camera {
	position: absolute;
	right: 15px;
	bottom: 15px;
	width: 40px;
	background-color: rgba(0,0,0,.5);
	border-radius: 20px;
}


.container > div > a {
	display:block;
    font-size: 20px;
    color: #26304d;
    padding: 0;
    margin: 30px 0 15px;
    font-weight: 300;
    letter-spacing: -1px;
    word-wrap: break-word;
}


a {
	text-decoration: none;
	color: inherit;	
}